<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lgy.board_mybatis_mysql.dao.BoardDAO">
    <select id="list" resultType="com.lgy.board_mybatis_mysql.dto.BoardDTO">
        select boardNo, boardName, boardTitle, boardContent, boardDate, boardHit from tbl_board
    </select>
    
    <insert id="write">
		insert into tbl_board(boardName, boardTitle, boardContent, boardHit) values(#{param1},#{param2},#{param3},0)
    </insert>

    <select id="contentView" resultType="com.lgy.board_mybatis_mysql.dto.BoardDTO">
        select boardNo, boardName, boardTitle, boardContent, boardDate, boardHit from tbl_board where boardNo=#{param1}
    </select>
    
<!-- 		update tbl_board set boardName=#{param1}, boardTitle=#{param2}, boardContent=#{param3} where boardNo=#{param4} -->
    <update id="modify">
		update tbl_board set boardName=#{param2}, boardTitle=#{param3}, boardContent=#{param4} where boardNo=#{param1}
    </update>
    
    <delete id="delete">
		delete from tbl_board where boardNo=#{param1}
    </delete>
</mapper>












